---
name: 'Release images'
on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

concurrency:
  group: ci-image-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: false # we never want to cancel a running job on release
jobs:
  build-linux-amd64:
    runs-on: 'ubuntu-24.04'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@master
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v6
        with:
          build-args: |
            VERSION=${{ github.ref_name }}
          provenance: false
          platforms: linux/amd64
          push: true
          tags: ghcr.io/pluralsh/ci-temp-images:auroraboot-${{ github.sha }}-amd64
  build-linux-arm64:
    runs-on: 'ubuntu-24.04-arm'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@master
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v6
        with:
          build-args: |
            VERSION=${{ github.ref_name }}
          provenance: false
          platforms: linux/arm64
          push: true
          tags: ghcr.io/pluralsh/ci-temp-images:auroraboot-${{ github.sha }}-arm64
  build:
    needs:
      - build-linux-amd64
      - build-linux-arm64
    runs-on: ubuntu-24.04
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}}
      - uses: docker/metadata-action@v5
        id: metadata
        with:
          images: ghcr.io/pluralsh/aurora-boot
      - uses: int128/docker-manifest-create-action@v2
        id: build
        with:
          index-annotations: ${{ steps.metadata.outputs.labels }}
          tags: ${{ steps.metadata.outputs.tags }}
          sources: |
            ghcr.io/pluralsh/ci-temp-images:auroraboot-${{ github.sha }}-amd64
            ghcr.io/pluralsh/ci-temp-images:auroraboot-${{ github.sha }}-arm64
